{% include "header.html" %}

        <nav>
            <h2>Categories</h2>
            <ul>
                {% for i in allcategories %}
                <li>
                <a href = "{{url_for('showCategories', categories_id = i.id)}}">{{i.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        
        <h2>{{categories.name}}</h2>
        <ul>
            {% for i in items %}
            <li>
            <a href = "{{url_for('showItem',categories_id=i.categories_id, items_id=i.id)}}">{{i.name}}</a>
            </li>
            {% endfor %}
        </ul>
        
    </body>
</html>