{% include "header.html" %}

        <h1>Edit Item</h1>

        <form action="{{url_for('editItem' ,categories_id=categories_id, items_id=items_id, item=editedItem)}}"
        method="POST">
        <p>Name:</p>
        <input type="text" size="30" name="name" placeholder = '{{item.name}}'>
        <p>Description:</p>
        <input type="text" size="30"  name="description" placeholder = '{{item.description}}'>
        <p>Catagory:</p>
        <select name="categories_id">
            <option value="" selected="selected"></option>
            <option value=1 >soccer</option>
            <option value=2 >basketball</option>
            <option value=3 >baseball</option>
            <option value=4 >frisbee</option>
            <option value=5 >snowboarding</option>
            <option value=6 >rock climbing</option>
            <option value=7 >foosball</option>
            <option value=8 >skating</option>
            <option value=9 >hockey</option>   
        </select>
        </br></br>
        <input type="submit" value ="Update">
        <a href = "{{url_for('showItem',categories_id=categories_id, items_id=items_id)}}"><button type="button">Cancel</button></a>
        </br></br>
        </form>

    </body>
</html>