{% include "header.html" %}

        <h1>Edit Item</h1>

        <form action="{{url_for('editItem', category_name = item.category.name, item_name = item.name)}}" method = "post" >
            <div>
                <label for="name">Name:</label>
                <input type ="text" class="form-control" id="name" maxlength="250" name="name" value="{{item.name}}">
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="description" id="description" class="form-control" maxlength="250" cols="30" rows="3">{{item.description}}</textarea>
            </div>
            <div>
                <label for="current-picture">Picture:</label>
            </div>
            <div>
                <img src="{{item.picture}}" alt="{{item.picture}}" id="current-picture" class="img-thumbnail">
            </div>
            <div>
                <label for="picture">Picture URL:</label>
                <input type ="url" class="form-control" id="picture" maxlength="250" name="picture" placeholder="{{item.picture}}" value="{{item.picture}}">
            </div>
            <div>
                <label for="picture">Category:</label>
                <select name="category">
                {% for c in categories %}
                    <option value="{{c.name}}" {% if c == item.category %} selected {% endif %}>{{c.name}}</option>
                {% endfor %}
                </select>
            </div>
            <div>
                <button type="submit" id="submit" class="btn btn-primary">Save</button>
                <a href="{{url_for('showCategory', category_name=item.category.name)}}">
                    <button type="button" class="btn btn-danger">Cancel</button>
                </a>
            </div>
        </form>
    


</body>
</html>