{% include "header.html" %}

<div>
    <nav>
        <h2>Categories</h2>               
        <ul>
            {% for c in categories %}
            <li>
            <a href = "{{url_for('showCategory', category_name = c.name,)}}" style="color:black">{{c.name}}</a>
            </li>
            {% endfor %}
        </ul>
        <h6 class="button"><a href = "{{url_for('addCategory')}}">New Category</a></h6>
        <h6 class="button"><a href = "{{url_for('editCategory', category_name = category)}}">Edit Category</a></h6>
        <h6 class="button"><a href = "{{url_for('deleteCategory', category_name = category)}}">Delete Category</a></h6>
    </nav>

    <article>
        <h2>Latest Items</h2>
        <h6 class="button"><a href = "{{url_for('addItem')}}">New Item</a></h6>
        <ul>
            {% for i in items %}
            <li>                    
                <a href = "{{url_for('showItem', category_name = i.category.name, item_name = i.name)}}" style="color:black">{{ i.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </article>
</div>


</body>
</html>