{% include "header.html" %}
<div>
    <nav>
        <h2>Categories</h2>
        <ul>
            {% for c in categories %}
            <li>
                <a href="{{url_for('showCategory', category_name = c.name,)}}" style="color:black">{{c.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <article>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <div>
            <img src="{{item.picture}}" alt="{{item.picture}}" id="current-picture">
        </div>

    </article>
</div>

</body>

</html>